
.find-courses{
    font-size: 50px;
}

.project {
    width: 100%;
    height: 500px;
    background-image: url('../image/home/rpm-626-2.png');
    background-size: cover;
    background-position: center;
    padding: 0 !important;
    float:left;
}

.project-2 {
    background-image: url('../image/home/arb-626.png');
}

.project-3 {
    background-image: url('../image/home/impi-626-2.png');
}

.project-hover {
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #FA5858;
    padding: 30% 20px !important;
}

.project-hover hr {
    height: 30px;
    width: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: rgba(255, 255, 255, 1);
    border: 0;
}

.project-hover a {
    color: rgba(255, 255, 255, 1);
    padding: 2px 22px;
    line-height: 40px;
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.project:hover .project-hover {
    opacity: 1;
}

.project:hover .project-hover hr {
    width: 100%;
    height: 5px;
}